.CreatePost {
    border: 1px solid red;
    border-radius: .35rem;
    width: 18rem;
    padding: 4rem 1rem 4rem 3rem;
}

.TextField {
    width: 80%;
    margin-bottom: 1rem;
}

.buttonContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: .35rem;
}

button {
    width: 5rem;
}